before_install:
- export DOCKER_CLI_EXPERIMENTAL=enabled
- mkdir -vp ~/.docker/cli-plugins/
- curl --silent -L "https://github.com/docker/buildx/releases/download/v0.5.1/buildx-v0.5.1.linux-amd64" > ~/.docker/cli-plugins/docker-buildx
- chmod a+x ~/.docker/cli-plugins/docker-buildx
before_script:
- 'echo TRAVIS_BRANCH: $TRAVIS_BRANCH'
- 'echo TRAVIS_PULL_REQUEST: $TRAVIS_PULL_REQUEST'
- docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
- pip3 install -r requirements.txt
- python3 ./generate-matrix.py >/dev/null && git diff --exit-code
- docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
- docker buildx version
- docker buildx create --name multiarch --driver docker-container --use
- docker buildx inspect --bootstrap
dist: focal
env:
  jobs:
  - TOMCAT_VERSION=9.0 TOMCAT_JAVA_VERSION=jre8-temurin-jammy TOMCAT_BASE_IMAGE= LUCEE_MINOR=5.3,5.4 LUCEE_SERVER=,-nginx LUCEE_VARIANTS=,-light
  - TOMCAT_VERSION=9.0 TOMCAT_JAVA_VERSION=jre11-temurin-jammy TOMCAT_BASE_IMAGE= LUCEE_MINOR=5.3,5.4,6.0,6.1 LUCEE_SERVER=,-nginx LUCEE_VARIANTS=,-light
  - TOMCAT_VERSION=10.1 TOMCAT_JAVA_VERSION=jre21-temurin-jammy TOMCAT_BASE_IMAGE= LUCEE_MINOR=6.2 LUCEE_SERVER=,-nginx LUCEE_VARIANTS=,-light
  - TOMCAT_VERSION=9.0 TOMCAT_JAVA_VERSION=jdk8-temurin-jammy TOMCAT_BASE_IMAGE= LUCEE_MINOR=5.3,5.4,6.0 LUCEE_SERVER=,-nginx LUCEE_VARIANTS=,-light
  - TOMCAT_VERSION=9.0 TOMCAT_JAVA_VERSION=jdk11-temurin-jammy TOMCAT_BASE_IMAGE= LUCEE_MINOR=5.3,5.4,6.0,6.1 LUCEE_SERVER=,-nginx LUCEE_VARIANTS=,-light
  - TOMCAT_VERSION=9.0 TOMCAT_JAVA_VERSION=jdk8-temurin-focal TOMCAT_BASE_IMAGE= LUCEE_MINOR=5.3,5.4,6.0 LUCEE_SERVER=,-nginx LUCEE_VARIANTS=,-light
  - TOMCAT_VERSION=9.0 TOMCAT_JAVA_VERSION=jdk11-temurin-focal TOMCAT_BASE_IMAGE= LUCEE_MINOR=5.3,5.4,6.0,6.1 LUCEE_SERVER=,-nginx LUCEE_VARIANTS=,-light
language: python
os: linux
python: 3.6
script:
- echo $LUCEE_VERSION
- python3 -u build-images.py
services:
- docker
