# This is a basic workflow to help you get started with Actions

name: Build Lucee Docker Images

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      LUCEE_VERSION:
        required: true
        type: string

env:
  LUCEE_VERSION: ${{ github.event.inputs.LUCEE_VERSION }}
  # Dummy flag to pretend this is a Travis PR; build-images.py needs to be updated
  TRAVIS_PULL_REQUEST: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-docker-images:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Setup Python v3
        uses: actions/setup-python@v3.1.2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

      # Runs a single command using the runners shell
      - name: Setup env
        run: |
          echo LUCEE_VERSION: $LUCEE_VERSION
          echo BRANCH: $BRANCH
          echo PULL_REQUEST: $PULL_REQUEST
          pip3 install -r requirements.txt
          python3 ./generate-matrix.py >/dev/null && git diff --exit-code

      # Runs a set of commands using the runners shell
      - name: Build Lucee docker image [jdk 8, tomcat 8.5]
        run: python3 -u build-images.py
        env:
          TOMCAT_VERSION: 8.5
          TOMCAT_JAVA_VERSION: jdk8-openjdk
          TOMCAT_BASE_IMAGE: ""
          LUCEE_MINOR: 5.2
          LUCEE_SERVER: ",nginx"
          LUCEE_VARIANTS: ",light"

      - name: Build Lucee docker image [jdk 11, tomcat 8.5]
        run: python3 -u build-images.py
        env:
          TOMCAT_VERSION: 8.5
          TOMCAT_JAVA_VERSION: jdk11-openjdk
          TOMCAT_BASE_IMAGE: ""
          LUCEE_MINOR: 5.2
          LUCEE_SERVER: ",nginx"
          LUCEE_VARIANTS: ",light"

      - name: Build Lucee docker image [jdk 8, tomcat 9.0]
        run: python3 -u build-images.py
        env:
          TOMCAT_VERSION: 9.0
          TOMCAT_JAVA_VERSION: jdk8-openjdk
          TOMCAT_BASE_IMAGE: ""
          LUCEE_MINOR: 5.2,5.3
          LUCEE_SERVER: ",nginx"
          LUCEE_VARIANTS: ",light"

      - name: Build Lucee docker image [jdk 11, tomcat 9.0]
        run: python3 -u build-images.py
        env:
          TOMCAT_VERSION: 9.0
          TOMCAT_JAVA_VERSION: jdk11-openjdk
          TOMCAT_BASE_IMAGE: ""
          LUCEE_MINOR: 5.2,5.3
          LUCEE_SERVER: ",nginx"
          LUCEE_VARIANTS: ",light"
